{% extends 'base.html' %}
{% block body %}
<div class="container mt-3">
<h3>This is an image grid</h3>
  {% for i in range(num_rows) %}
    <div class="row my-3">
      {% for j in range(num_cols) %}
        <div class="col">
          <img class="img-fluid img-thumbnail" src="https://picsum.photos/seed/{{ j + 1 + (i * num_cols) }}/800/600" alt="">
        </div>
      {% endfor %}
    </div>
  {% endfor %}
</div>
{% endblock %}
