{% extends 'base.html' %}
{% block body %}
<div class="container mt-3">
<h3>This is an image grid</h3>
  <div class="row my-3">
    <div class="col-6">
      <img class="img-fluid img-thumbnail" src="https://picsum.photos/seed/one/800/600" alt="">
    </div>
    <div class="col-6">
      <img class="img-fluid img-thumbnail" src="https://picsum.photos/seed/two/800/600" alt="">
    </div>
  </div>
  <div class="row mb-3">
    <div class="col-6">
      <img class="img-fluid img-thumbnail" src="https://picsum.photos/seed/three/800/600" alt="">
    </div>
    <div class="col-6">
      <img class="img-fluid img-thumbnail" src="https://picsum.photos/seed/four/800/600" alt="">
    </div>
  </div>
</div>
{% endblock %}
